#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  calibre-app.service
BindsTo=calibre.service
After=calibre.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/calibre-app.pid %t/calibre-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/calibre-app.pid \
    --cidfile %t/calibre-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/calibre.pod-id --replace -d --name  calibre-app \
    --volume calibre-books:/books \
    --volume calibre-data:/config \
    --env=CALIBRE_* \
    --env TZ=Etc/UTC \
    ${CALIBRE_WEB_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/calibre-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP calibre-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/calibre-app.ctr-id
PIDFile=%t/calibre-app.pid
Type=forking

[Install]
WantedBy=default.target
